.ntg-down{margin-top: 10px;width: 298px;height: 40px;background-image: url("../../img/tuxedo/drop-down-btn.png");}
.ntg-down:active{background-image: url("../../img/tuxedo/drop-down-btn-active.png");}