
		    <!-- Content wrapper -->
		    <div class="wrapper">

			    <!-- Content head -->
			        <% include ../includes/contentHead.html %>	
			    <!-- /Content head -->

			    
		    
                <h5 class="widget-name"></h5>

				<div class="row-fluid">

					<div class="span12">

						<% var tabIdx = 0, mode='TuxAnalysis' %>
						<% var item = all['TuxAnalysisByLcu'], type='ByLcu',subtype='' %>
						<% include ../includes/widget/top.html %>		
						
					</div>

				</div>
				<!-- /排名 -->


		    </div>
		    <!-- /content wrapper -->
