<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title><% include ../includes/title.html %></title>
<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/dist/themes/default/style.min.css" />

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/plugins/charts/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="/js/plugins/ui/jquery.easytabs.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.collapsible.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.bootbox.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.colorpicker.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.fancybox.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.fullcalendar.min.js"></script>
<script type="text/javascript" src="/js/plugins/ui/jquery.elfinder.js"></script>

<script type="text/javascript" src="/js/plugins/uploader/plupload.js"></script>
<script type="text/javascript" src="/js/plugins/uploader/plupload.html4.js"></script>
<script type="text/javascript" src="/js/plugins/uploader/plupload.html5.js"></script>
<script type="text/javascript" src="/js/plugins/uploader/jquery.plupload.queue.js"></script>

<script type="text/javascript" src="/js/plugins/forms/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.autosize.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.inputlimiter.min.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.inputmask.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.select2.min.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.listbox.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.validation.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.validationEngine-en.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.form.wizard.js"></script>
<script type="text/javascript" src="/js/plugins/forms/jquery.form.js"></script>

<script type="text/javascript" src="/js/globalize/globalize.js"></script>
<script type="text/javascript" src="/js/globalize/globalize.culture.de-DE.js"></script>
<script type="text/javascript" src="/js/globalize/globalize.culture.ja-JP.js"></script>
<script type="text/javascript" src="/js/plugins/tables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/files/bootstrap.min.js"></script>
<script src="/dist/libs/jquery-1.11.3.min.js"></script>
<script src="/dist/jstree.min.js"></script>
<script type="text/javascript" src="/js/files/menu.js"></script>

</head>

<body class="no-background">

	<!-- Fixed top -->
	<div id="top">
		<div class="fixed">
			<a href="/index.html" title="" class="logo" style="font-size: 24px;color:white"><img src="/img/logo.png" alt="" /></a>
			<ul class="top-menu">
				<li class="dropdown">

				</li>
			</ul>
		</div>
	</div>
	<!-- /fixed top -->

    <form action="/assignMenusQuery" id="validate" class="form-horizontal" method="post" enctype="multipart/form-data">
		<% errors.forEach(function(error){ %>
			<div class="alert alert-error" style="margin-top: 16px;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>错误!</strong> <%= error %>
			</div>
		<% }) %>

		<% Prompts.forEach(function(Prompt){ %>
			<div class="alert alert" style="margin-top: 16px;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong>提示!</strong> <%= Prompt %>
			</div>
		<% }) %>
		<input type="hidden" name="_csrf" value="<%= csrf_token %>"/>
		 <fieldset>
			 	<div class="widget">
	        <div class="navbar"><div class="navbar-inner"><h6>用户菜单分配</h6></div></div>
	      	<div class="well row-fluid">
	            <div class="control-group">
	            	<label class="control-label align-right"></label>
	                <label class="control-label align-center">用户名： </label>
	                <div class="controls align-left">
	                    <input type="text" class="validate[required,custom[onlyLetterNumber]] span4"   name="user_names" value = "<%= user_names %>"> <span class="text-error">*</span>
	                    <input type="hidden"   name="user_menus" value = "<%= user_menus %>">
	                    <input type="hidden"   name="assign_user_names" value = "<%= assign_user_names %>">
	                    <button type="submit" class="btn btn-info">获取菜单</button>
	                </div>
	             </div>
	             <div id="jstree" class="control-group">
                  </div>

	               <div class="form-actions align-center">
	                  <button type="button" id ="assignUserMenuBtn" class="btn btn-info">分配菜单</button>
	                  <a href="/index.html" title="" class="btn">返回大厅</a>
	               </div>
	    	 </div>
  	</fieldset>
  </form>

	<!-- Footer -->
	<div id="footer">
		<div class="copyrights">&copy;  Asiainfo 2014.</div>
		<ul class="footer-links">
			<li><a href="#" title="0.1.0"><i class="icon-cogs"></i>Version: 0.1.0</a></li>
			<li><a href="mailto:tangzhi@asiainfo-linkage.com?subject=关于LAP的Bug" title=""><i class="icon-screenshot"></i>反馈Bug</a></li>
		</ul>
	</div>
	<!-- /footer -->


</body>
</html>
