
    <!-- Breadcrumbs line -->
    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb"> 
            <li><a href="/index.html">分析大厅</a></li>
            <li class="active"><a href="/404.html" title="">404 error</a></li>
        </ul>
        
    </div>


	<!-- Error wrapper -->
	<div>
    	<div class="error-page">
    	    <span class="reason">404</span>
    		<div class="error-content">
    	        <span class="reason-title">- 如果来到这里，说明你和你的小伙伴们都迷路了，亲! -</span>
    
    	        <div class="row-fluid error-buttons">
    	            <a href="/index.html" title="" class="btn btn-info span12">回到大厅</a>
    				<!-- <a href="<%= url %>" title="" class="btn btn-success span6">退到上一页</a> -->
    	        </div>
    	    </div>
    	</div>  
	</div>  
	<!-- /error wrapper -->