
    <!-- Breadcrumbs line -->
    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb"> 
            <li><a href="/index.html">分析大厅</a></li>
            <li class="active"><a href="500.html" title="">500 error</a></li>
        </ul>
        
    </div>
    <!-- /breadcrumbs line -->


	<!-- Error wrapper -->
	<div class="error-page">
	    <span class="reason">500</span>
		<div class="error-content">
			<span class="reason-title">- <%= error %> -</span>

	        <div class="row-fluid error-buttons">
	            <a href="/index.html" title="" class="btn btn-info span12">回到分析大厅</a>
	        </div>
	    </div>
	</div>  

